<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="LogToConsole">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %-5level [%logger]: %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <File name="LogToFile" fileName="logs/app.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] [%logger]: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="LogToConsole" level="info"/>
            <AppenderRef ref="LogToFile" level="info"/>
        </Root>
    </Loggers>
</Configuration>